
@{
    ViewBag.Title = "QTree";
}

<h2>QTree</h2>
<script src="~/Scripts/qiao.js-master/qiao.js"></script>


<p id="treepanel"></p>

<script>
    $("#treepanel").bstree({
        url : "/Test",
    });
</script>