<link href="~/Content/bootstrap-switch.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-switch.js"></script>
<div class="switch" data-animated="false">
    <input type="checkbox" name="my-checkbox" checked />
</div>

<script>
    $("[name='my-checkbox']").bootstrapSwitch();

</script>
