
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Agreement</title>
</head>
<body>
    <div> 
        <h1>高纬度智能办公系统协议</h1>
    </div>
</body>
</html>
