@model Bonsaii.Models.UserPasswordInfo
@{
    ViewBag.Title = "2分钟之内不能重复提交申请~~";
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}

<h2>@ViewBag.Title。</h2>


@section Scripts {
   <script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

}
