@model Bonsaii.Models.UserPasswordInfo
@{
    ViewBag.Title = "提交成功，请耐心等待审核~~";
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}

<h2>@ViewBag.Title。</h2>


@section Scripts {
   <script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

}
